{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",

  "quoteProps": "as-needed",
  "singleQuote": false,
  "jsxSingleQuote": false,

  "arrowParens": "always",

  "endOfLine": "auto",
  "proseWrap": "preserve"
}